{% extends "base.html" %}
{% block title %}
<title>目前代辦事項</title>
{% endblock %}

{% block style %}
<style>
    .todo {
        background-color: aqua;
        border-radius: 12px;
        padding: 12px;
        margin: 6px;
        width: 600px;
    }
</style>
{% endblock %}


{% block content %}


<h1>TodoList</h1>


{% for todo in todos %}
<div class="todo">
    <h4>{{todo.created}}</h4>
    <a href="{% url 'delete-todo' todo.id %}" onclick="return confirm('確定要刪除這筆資料嗎？');">刪除</a>
    <a href="{% url 'viewtodo' todo.id %}">修改</a>
    <h3>{{todo.title}}</h3>
    <p>{{todo.text}}</p>
    <u>{{todo.important}}</u>
    {% if todo.date_completed %}
    <p>
        完成時間:<u>{{todo.date_completed}}</u>
    </p>
    {% endif %}
</div>

{% endfor %}
{% endblock %}